.sobre-container {
  padding: 40px;
  background-color: #F0F0F0; 
  border-radius: 12px;
  border: 2px solid #3c5454;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.titulo {
  color: #3c5454;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid #3c5454;
  display: inline-block;
  padding-bottom: 10px;
}

.subtitulo {
  color: #3c5454;
  font-size: 2em;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.descricao {
  color: #000;
  font-size: 1.2em;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
}

.quemsomos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 50px 0;
}

.conteudo-quemsomos {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 800px;
}

.conteudo-quemsomos.invertido {
  flex-direction: row-reverse;
}

.conteudo-quemsomos img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #3c5454;
}

.texto {
  flex: 1;
  text-align: left;
}

.texto h1 {
  color: #3c5454;
  margin-bottom: 10px;
}

.texto p {
  color: #000;
  font-size: 1em;
}
