body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #87B7C1;
}


.content-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px); /* Ajuste para o cabeçalho */
    background-color: #87B7C1; 
}

.content-box {
    background-color: #0D1B2A; 
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

h2 {
    color: white;
}

.emojis {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.emojis span {
    font-size: 2rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.emoji-selecionado {
    border: 2px solid white;
    border-radius: 50%;
}

label {
    display: block;
    margin-top: 1rem;
    color: white;
}

textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    resize: vertical; 
    background-color: #ffffff; 
    height: 100px; 
}
.botoes {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.botao-salvar, .botao-cancelar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-salvar:hover, .botao-cancelar:hover {
    background-color: #0056b3;
}

.mensagem {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.mensagem.erro {
    background-color: #f44336;
}
