.divverde2 {
    background-color: #3c5454;
    color: white;
    text-align: center;
}

.adicionaeedata {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 20px 0 0 20px;
    font-size: 14px; 
}

.titulos {
    display: flex;
    justify-content: space-around; 
    margin: 10px 0;
    font-size: 13px;
    color: #3c5454;
}

.conteudo {
    margin: 24px;
    border-radius: 16px;
    border: 2px solid #3c5454;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cadastros {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color: #3c5454;
}

.verificarbtn {
    background-color: #3c5454;
    border-radius: 9px;
    height: 30px;
    color: white;
    border: none;
    padding: 0 10px;
}

.imgs {
    padding-right: 125px;
    display: flex;
    gap: 10px;
}

.imgs img {
    width: 30px; 
    height: 30px;
}

.dados1 {
    padding-left: 140px;
}

.dados2 {
    padding-left: 310px;
}

.dados3 {
    padding-left: 260px;
}

.dados4 {
    margin-left: 250px;
}

.modal {
    width: 400px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, 50%);
    background-color: white;
}

.telaverde-container {
    position: relative;
}

.telaverde {
    position: absolute;
    z-index: 99;
    background-color: rgba(127, 255, 212, 0.363); 
    width: 100vw;
    height: 100vh;
}

.telaverde-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal h1 {
    margin-bottom: 20px;
    font-size: 20px;
}

.modal input {
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: rgba(127, 255, 212, 0.363);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
