.cabecalho_header {
  top: 0;
  left: 0;
  height: 7vw;
  background-color: #06152A;
  color: #fff; 
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 50px;
}
.nomeapp {
  display: flex;
  align-items: center; 
}

.nomeapp img {
  width: 40px;
}

.sign-in{
  display: flex;
  justify-content: space-between;
}

.sign-in h1{
  padding: 0 10px;
}

