footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-size: 12px;
  bottom: 0px;
}

.meio {
    text-align: center;
}

.meio h4 {
  display: flex;
  justify-content: center;
}

.contatos {
  display: flex;
  gap: 20px;
}

.baixo {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


